<h1><%= directory.name %></h1>

<h4>Directory Groups</h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  <% directory_groups.each do |group| %>
    <tr>
      <td><a href="<%= "/directories/#{get_id(directory)}/groups/#{get_id(group)}" %>"><%= group.name %></a>
    </tr>
  <% end %>
  </tbody>
</table>

<h4> Create New Group For Directory </h4>

<form action='<%= "/directories/#{get_id(directory)}/groups" %>' method="post">
  <input id="group_name" name="group_name" type="text">
  <br>
  <input name="commit" type="submit" value="Create Group">
</form>