<h4><%= account.full_name %>'s Groups </h4>
<table class="table">
  <thead>
    <tr>
      <th>Group Name</th>
    </tr>
  </thead>
  <tbody>
  <% application_groups.each do |application_group| %>
    <tr>
      <td><%= application_group.name %></td>
      <td>
        <% if account_groups.include? application_group %>
          <form action='<%= "/accounts/#{CGI.escape(account.href)}/group_memberships/#{CGI.escape(application_group.href)}" %>' method='POST'
            onsubmit="javascript:return confirm('Are you sure you want to delete this group membership?');">
            <input type="hidden" name="_method" value="Delete">
            <input class="btn" type="submit" value="Remove">
          </form>
        <% else %>
          <form action='<%= "/accounts/#{CGI.escape(account.href)}/group_memberships/#{CGI.escape(application_group.href)}" %>' method='POST'>
            <input type="hidden" name="_method" value="Post">
            <input class="btn" type="submit" value="Add">
          </form>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>