<h1> Stormpath Sinatra Sample!</h1>

<h4> This is a simple Sinatra sample application using the Stormpath Ruby-SDK </h4>

<h3> What is Stormpath? </h3>
<p> Stormpath is a User Management API 
for Developers. It is the fastest way to add complete user management to your application: login, user profiles, groups and roles, permissions, and password security - ready in minutes.</p>


<h3> How do I get started? </h3>
<p>To get started with your own Stormpath application, follow the <a href="http://docs.stormpath.com/ruby/quickstart/">docs</a> or read the readme on <a href="https://github.com/stormpath/stormpath-sdk-ruby">Github</a>.</p>

<p> If you are interested in the source code of this application, you can also check it out on <a href="https://github.com/stormpath/stormpath-sinatra-sample">Github</a></p>

<h3>How do I use this application?</h3>

If you have already bootstraped everything following the docs, if you have an account in the directory mapped to your application, you can login, or if you don't, feel free to register.

<br><br>
<div class="row">
  <div class="span2 offset4">
    <a class="btn btn-info btn-large" href="/accounts/new">Register</a>
  </div>
  <div class="span2">
    <a class="btn btn-success btn-large" href="/session/new">Login</a>
  </div>
</div>

<br>
<h4> For more info, checkout the <a href="http://stormpath.com/">official Stormpath website</a></h4>
