<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stormpath.css">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/"><%= settings.application.name %></a>
        <% if is_authenticated? %>
          <a class="brand" href="/account_store_mappings">Account Stores</a>
          <form method="post" action="/session">
            <input class="btn logout" type="submit" value="log out | <%= session[:display_name] %>">
            <input type="hidden" value="DELETE" name="_method">
          </form>
        <% end %>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="alert"><%= flash[:notice] %></div>
    <% end %>
    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
