<h1>Reset Your Password</h1>

<form class="form-horizontal" action="/password_reset_tokens/<%= CGI.escape(account.href) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Update Password" class="btn-primary btn">
    </div>
  </div>
</form>
