<h1>Password Reset</h1>

<form class="form-horizontal" action="/password_reset_tokens" method="post">
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="text" name="email" id="email" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input class="btn-primary btn" type="submit" value="Send Password Reset Email">
    </div>
  </div>
</form>
